<div>
  <h1>Hi! My name is Priyanshi.</h1>
  <h2>Welcome to my portfolio!</h2>
  <img src="./assets/priya.jpg" alt="Priyanshi" />
  <p>
    I am a senior at UNC Chapel Hill pursuing a double major in Computer Science
    and Statistics. I am a senior at UNC Chapel Hill pursuing a double major in
    Computer Science and Statistics. I am a senior at UNC Chapel Hill pursuing a
    double major in Computer Science and Statistics. I am a senior at UNC Chapel
    Hill pursuing a double major in Computer Science and Statistics.
  </p>
</div>
