<div>
  <h1>Hi! My name is Priyanshi Aeron.</h1>
  <h2>Welcome to my portfolio!</h2>
  <img src="./assets/priyanshi.JPG" alt="Priyanshi" />
  <p>
    I am a senior at UNC Chapel Hill pursuing a double major in Computer Science
    and Statistics with a minor in Data Science. I have taken various courses
    such as data structures and algorithms, decision analytics, and database programming. 
    As well as that I have been involved in many clubs on campus such as HackNC, UNC Sangam, 
    and Women in Computer Science. The past two summers I have had the pleasure of 
    interning at Fidelity Investments in the Research Triangle Park. I have experience 
    with Java, R, SQL, HTML, CSS, Python, Javascript and more! Outside of school I enjoy
    going on walks, listening to music, and spending time with my friends and family.
  </p>
</div>
